@import "compass";
@import "theme_variables";

/********************************************************************
					Compare Page Styles
********************************************************************/
table#product_comparison {
	tbody {
		tr {
			td.product-block {
				vertical-align: top;
				padding: 14px 19px 19px;
				
			}
			td.td_empty,
			td.feature-name,
			&.comparison_header {
				background: $table-background;
				color: $base-text-color;
				text-transform:uppercase;
				font-size:11px;
				font-family:$font-custom;
			}
			td.comparison_infos {
				
				div.center {
					margin: 0 auto;
					width: 80px;
				}
			}
			td.td_empty {
				vertical-align: bottom;
				> span {
					font: 600 11px/14px $font-custom;
					text-transform: uppercase;
					color:$base-text-color;
				}
			}
		}
	}
	.remove {
		text-align: right;
		padding:  0 0 15px 0;
		a {
			font-size: 23px;
			line-height: 23px;
			color: #c0c0c0;
			&:hover {
				  color: $link-hover-color;
			}
		}
	}
	.product-image-block {
		display: inline-block;
		position: relative;
		.product_image {
			
		}
	}
	h5 {
	
	}
	.prices-container {
		padding: 0 0 5px 0;
	}
	.comparison_availability_statut {
		display: none;
		font-weight: 700;
		color: #060;
	}
	.product_discount {
		padding-top: 5px;
		.reduced-price {
			color: $product-reduced-price;
			font-weight: 700;
		}
	}
	.product_desc {
		padding: 0 0 12px 0;
	}
	.button-container {
		a, > span {
			margin-bottom: 10px;
		}
	}
	.comparison_unit_price {
		font-size: 17px;
		font-family: $font-custom;
		color: $product-price-color;
		font-style: italic;
	}
	.product-rating {
		
	}

	.comparison_feature{
		.product_name{
			display: none;
		}
	}
}


.footer_link {
	margin: 0 0 20px 0;
}

#stOCClose {
	width: 29px !important;
	height: 29px !important;
}
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
	height: 22px !important;
}

.share {
	strong {
		display: block;
		margin-bottom: 10px;
	}

	> div{
		margin-bottom: 8px;
	}
	@media (min-width: $screen-lg) { // min 1200px
		position: relative;
		top: -350px;
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		position: relative;
		top: -260px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		position: relative;
		top: -245px;
	}
}

.stArrow {
	display: none !important;
}

/***** IE code ****/

.ie8 table#product_comparison .product-image-block .product_image img {
	width: auto;
}

/**** responsive code ******/


