/* BLOCK #wt-block-manu ***************** */
.banner-content  a img{max-width:100%;}
.banner-content{
	margin-top:15px;
}
.cs-background-reinsurance{
	background-repeat:repeat!important;
	background-position:center;
}
.cs-bg-banner-boxed{
	max-width:1200px;
	margin:0 auto;
}